body {
    font-family: helvetica;
    background-color: red;
}
  
ul {
    font-family: monospace;
}

li {
    list-style: circle;
}
  
.list {
    list-style: square;
}

.today {
    display: flex;
    
}
  
#date, #time {
    font-size: 12px;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
}